body{
font-family:Segoe UI;
margin:0;
background:#f2f6fb;
}

.container{
display:flex;
}

.sidebar{
width:250px;
background:#2c3e50;
color:white;
min-height:100vh;
padding:20px;
}

.sidebar a{
display:block;
padding:15px;
color:white;
text-decoration:none;
background:#34495e;
margin-bottom:10px;
border-radius:6px;
}

.main{
flex:1;
padding:30px;
}

.dashboard-header{
display:flex;
justify-content:space-between;
align-items:center;
}

.notification{
position:relative;
font-size:24px;
}

.badge{
position:absolute;
top:-8px;
right:-10px;
background:red;
color:white;
font-size:12px;
padding:3px 6px;
border-radius:50%;
}

.cards{
display:flex;
gap:30px;
}

.card{
padding:40px;
border-radius:12px;
background:white;
box-shadow:0 6px 15px rgba(0,0,0,0.15);
}

.lost{
background:#e74c3c;
color:white;
}

.found{
background:#2ecc71;
color:white;
}

.items-container{
display:flex;
flex-direction:column;
gap:25px;
max-width:750px;
}

.item-image{
width:100%;
height:240px;
object-fit:cover;
border-radius:10px;
}

.item-buttons{
margin-top:10px;
display:flex;
gap:10px;
}

.btn{
padding:8px 14px;
border-radius:6px;
color:white;
text-decoration:none;
}

.green{background:#2ecc71;}
.blue{background:#3498db;}
.red{background:#e74c3c;}
/* REPORT CARD */

.report-card{
padding:40px;
max-width:700px;
margin-top:20px;
}

/* FORM LAYOUT */

.form-group{
display:flex;
gap:10px;
margin-bottom:15px;
flex-wrap:wrap;
}

.report-card textarea{
width:100%;
height:100px;
}

.report-card input,
.report-card select{
padding:8px;
}

/* ITEMS COLUMN */

.items-container{
display:flex;
flex-direction:column;
gap:25px;
max-width:750px;
}

.item-image{
width:100%;
height:240px;
object-fit:cover;
border-radius:10px;
}

.item-buttons{
margin-top:10px;
display:flex;
gap:10px;
}
/* dashboard header */

.dashboard-header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:20px;
}

/* notification */

.notification{
position:relative;
font-size:24px;
cursor:pointer;
}

/* red count badge */

.badge{
position:absolute;
top:-8px;
right:-10px;
background:red;
color:white;
font-size:12px;
padding:3px 6px;
border-radius:50%;
}

/* dropdown box */

.notification-box{
display:none;
position:absolute;
right:0;
top:35px;
background:white;
width:260px;
box-shadow:0 4px 12px rgba(0,0,0,0.2);
padding:10px;
border-radius:8px;
z-index:100;
}

/* show on hover */

.notification:hover .notification-box{
display:block;
}

/* clear button */

.clear-btn{
display:block;
margin-top:10px;
background:#e74c3c;
color:white;
padding:6px;
text-align:center;
border-radius:6px;
text-decoration:none;
}