{% extends "layout.html" %}
{% block content %}

<h1>Report Lost / Found Item</h1>

<form method="POST" enctype="multipart/form-data">

<label>Type</label>
<select name="type">
<option value="lost">Lost</option>
<option value="found">Found</option>
</select>

<label>Item Name</label>
<input name="name" placeholder="Enter item name" required>

<label>Category</label>
<select name="category">
{% for c in categories %}
<option value="{{c}}">{{c}}</option>
{% endfor %}
</select>

<label>Description</label>
<textarea name="desc" placeholder="Describe the item"></textarea>

<label>Date</label>
<input type="date" name="date">

<label>Phone</label>
<input name="phone" placeholder="Your phone number">

<label>Place</label>
<input name="place" placeholder="Where it was lost/found">

<label>Upload Image</label>
<input type="file" name="image">

<br><br>

<button type="submit">Submit Report</button>

</form>

{% endblock %}
